body {
    background-color: #444;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
}

.factory.tile {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 2 2 auto;
    height:auto;
}
.tile:before {
    content:'';
    float:left;
    padding-top:100%;
}

#factories {
    max-height: 10%;
    flex-direction: column;
}

.factory{
    display: flex;
    border: 2px solid black;
    margin: 2px;
}

.communityPool {
    background: purple;
}

.tile {
    width: 10%;
    height: 10%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
}

.tile[type="0"] {
    background: #1066FF;
}

.tile[type="1"] {
    background: #ffbf00;
}

.tile[type="2"] {
    background: #ff1e00;
}

.tile[type="3"] {
    background: #1a1a1a;
}

.tile[type="4"] {
    background: #00f2ff;
}

.gameBoard{
    flex-direction: column;
}

.center{
    margin: 0 auto;
}
