.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
}

.factory.tile {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 2 2 auto;
    height:auto;
}
.tile:before {
    content:'';
    float:left;
    padding-top:100%;
}

.factories {
    fixed-width: 80%;
    fixed-height: 40%;
    flex-direction: column;
    flex: 2 2 auto;
}

.factory{
    border: 2px solid black;
}

.tile {
    width: 5%;
    height: 5%;
    height: width;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.tile[type="0"] {
    background: #3455eb;
}

.tile[type="1"] {
    background: #ffbf00;
}

.tile[type="2"] {
    background: #ff1e00;
}

.tile[type="3"] {
    background: #000000;
}

.tile[type="4"] {
    background: #00f2ff;
}

.gameBoard{
    
}

.center{
    margin: 0 auto;
}