body {
    background-color: #444;
}

.menuButton {
    background-color: #888;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
}

.factories {
    display: flex;
    flex-direction: column;
}

.factory{
    display: flex;
    border: 2px solid black;
    margin: 2px;
    justify-content: center;
}

.factories .factory {
    min-height: 76px;
}

.communityPool {
    min-width: 200px;
    max-width: 35%;
    background: #999;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

.communityPool[grabbed="false"] {
    outline: 4px solid #851821;
    outline-offset: -6px;
}

.gameBoard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.center{
    margin: 0 auto;
}

#centerBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
}

#status {
    color: white;
}

.opponentMats {
    transform: scale(.6);
    transform-origin: left top;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding: 8px;
}

.endGameTable {
    border: 2px solid black;
    padding: 4px;
}
