.playerMat {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}

.playerMat[isTurn="true"] {
	animation: pulse 3s infinite;
}
@keyframes pulse {
	0% {
		background: #403600;
	}

	50% {
		background: #806c00;
	}

	100% {
		background: #403600;
	}
}


#patternLines {
	border-right: white 1px solid;
}
.patternLine {
	display: flex;
}

#patternLines .patternLine {
	flex-direction: row-reverse;
}

#tileSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px black solid;
	margin: 5px;
	padding: 10px;
	background: #222;
}

#wall .tile[occupied=false] {
	opacity: .1;
}

#wall {
	border-left: white 1px solid;
}

#floorLine {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px black solid;
	margin: 5px;
	background: #222;
}

#floorLine .tile {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 42px;
}

.scoreboard {
    background: #bbb;
    border: 2px solid black;
    width: 20%;
    padding-left: 8px;
    margin: 5px;
}

.playerMat .topLine {
	display:flex;
	justify-content: space-between;
}

.playerTurn {
	padding: 0px 20px 0px 20px;
	border: 4px black solid;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 42px;
	margin-right: 5px;
}

#floorContainer {
	position: relative;
}

#floorLineTrashCan {
	&:not(.hidden) {
		display: flex;
	}
	display: none;
	position: absolute;
	top: 2px;
	left: 32px;
	justify-content: center;
}

#tcText {
	font-size: 64px;
	line-height: 66px;
}
