.playerMat {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}

.playerMat[isTurn="true"] {
	background: #C69D5A;;
}

#patternLines {
	border-right: #aaa 1px solid;
}
.patternLine {
	display: flex;
}

#patternLines .patternLine {
	flex-direction: row-reverse;
}

#tileSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px black solid;
	margin: 5px;
	padding: 10px;
	background: #222;
}

#wall .tile[occupied=false]:not([type="-1"]):not(.option) {
	opacity: .2;
}

#wall {
	border-left: #aaa 1px solid;
}

#floorLine {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px black solid;
	margin: 5px;
	background: #222;
}

#floorLine .tile {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 42px;
}

.scoreboard {
	display: flex;
	flex-direction: row;
	&  > * {
		justify-content: center;
		align-items: center;
	    border: 4px solid black;
	    padding-left: 8px;
	    padding-right: 8px;
	    font-size: 42px;
	    margin: 5px;
	}

	& > .name {
		background: #ffc7e9;
		width: 60%;
		overflow: hidden;
	}
	& > .score {
		background: green;
	}
	width: 75%;
}

.playerMat .topLine {
	display:flex;
	justify-content: space-between;
}

.tableOrder {
	padding: 0px 20px 0px 20px;
	border: 4px black solid;
	background: gold;
	margin: 5px;

	.playerTurn {
		font-size: 42px;
	}
	.title {
		font-size: 20px;
		margin-bottom: -20px;
	}
}

#floorContainer {
	position: relative;
}

#floorLineTrashCan {
	&:not(.hidden) {
		display: flex;
	}
	display: none;
	position: absolute;
	top: 2px;
	left: 32px;
	justify-content: center;
}

#tcText {
	font-size: 64px;
	line-height: 66px;
}

#pushStepButtons {
	width: 20%;
	margin-top: 3px;
	height: 38px;
}

#pushStepButtons > button {
	border: 2px solid black;
	background: #222;
	color: white;
}

#pushStepButtons > #pushResetButton {
	background: #3f9684;
	margin-bottom: 2px;
}

#pushStepButtons > #pushConfirmButton {
	background: gold;
	animation: confirmPulse 1.6s infinite;
}

@keyframes confirmPulse {
	0% {
		background: #32a852;
		color: white;
	}

	10% {
		background: #FFF;
		color: #32a852;
	}

	100% {
		background: #32a852;
		color: white;
	}
}
